<div class="row" style="background-color: #2780e3; color: white; padding-left: 5%; padding-right: 5%">
    <div class="card-body">
        <h4 class="card-title" Style="color:white"><b>Mas informacion de la compañia</b></h4>
        <p class="card-text">
            13004 Ciudad Real
            <br/> Ronda Ciruela nº 5
            <br/> Portal 4, 2ºD
            <br/><br/> Telefono: 926 21 48 28
            <br/> Movil: 676 47 47 04
            <br/> Fax: 926 21 95 88
            <br/> Email: despacho@asensioabogados.net
        </p>
    </div>
    <div class="card-body">
        <h4 class="card-title" Style="color:white"><b>Redes sociales</b></h4>
        <p class="card-text">
            <img src="assets/img/icon/facebook.png" style="width: 20px;">
            <label>Siguenos en Facebook</label>
            <br/>
            <!--<img src="assets/img/icon/twitter.png" style="width: 20px;">
            <label>Siguenos en Twitter</label>
            <br/>-->
            <img src="assets/img/icon/instagram.png" style="width: 20px;">
            <label>Siguenos en Instagram</label>
            <br/>
            <img src="assets/img/icon/google-plus.png" style="width: 20px;">
            <label>Siguenos en Google Plus</label>
            <br/>
            <!--<img src="assets/img/icon/pinterest.png" style="width: 20px;">
            <label>Siguenos en Pinteres</label>-->
        </p>
    </div>
    <div class="card-body">
        <h4 class="card-title" Style="color:white"><b>Datos de contacto</b></h4>
        <p class="card-text">
            13004 Ciudad Real
            <br/> Ronda Ciruela nº 5
            <br/> Portal 4, 2ºD
            <br/><br/> Telefono: 926 21 48 28
            <br/> Movil: 676 47 47 04
            <br/> Fax: 926 21 95 88
            <br/> Email: despacho@asensioabogados.net
        </p>
    </div>
</div>

<div style="min-height: 50px; background-color: black; padding-left: 2%; padding-right: 2%; padding-top: 10px">
    <span style="color: white;">&copy; 2018 todos los derechos reservados: </span><a [routerLink]="['aviso']" style="color: white; font-size: 18px">Aviso legal</a>
    <a [routerLink]="['login']" style="color: white;float: right; font-size: 18px">Iniciar Sesion</a>
</div>