<div class="row" style="background-color: #2780e3; color: white; padding-left: 5%; padding-right: 5%">
    <div class="card-body" style="margin: 0 auto;" class="col-md-4 col-sm-8 col-xs-12">
        <h4 class="card-title" Style="color:white"><b>Mas información del despacho</b></h4>
        <p class="card-text">
            <b>ASENSIO ABOGADOS</b> es un despacho de abogados
            independiente, con amplia experiencia judicial y 
             extrajudicial en materia de seguros, 
            accidentes de tráfico, accidentes laborales, responsabilidad 
            civil y patrimonial, derecho de familia, sucesiones, 
            arrendamientos y propiedad horizontal.   
        </p>
    </div>
    <div class="card-body" class="col-md-4 col-sm-8 col-xs-12">
        <h4 class="card-title" Style="color:white"><b>Redes sociales</b></h4>
        <p class="card-text">
            <img src="assets/img/icon/facebook.png" style="width: 20px;">
            <label><a href="https://www.facebook.com/AsensioAbogados" style="color: white">Siguenos en Facebook</a></label>
            <br/>
            <!--<img src="assets/img/icon/twitter.png" style="width: 20px;">
            <label>Siguenos en Twitter</label>
            <br/>-->
            <img src="assets/img/icon/instagram.png" style="width: 20px;">
            <label>Siguenos en Instagram</label>
            <br/>
            <img src="assets/img/icon/google-plus.png" style="width: 20px;">
            <label>Siguenos en Google Plus</label>
            <br/>
            <!--<img src="assets/img/icon/pinterest.png" style="width: 20px;">
            <label>Siguenos en Pinteres</label>-->
        </p>
    </div>
    <div class="card-body" class="col-md-4 col-sm-8 col-xs-12">
        <h4 class="card-title" Style="color:white"><b>Datos de contacto</b></h4>
        <p class="card-text">
            13004 CIUDAD REAL
            <br/> Ronda Ciruela nº 5
            <br/> Portal 4 - 2º D
            <br/><br/> Teléfono: 926 21 48 28
            <br/> Móvil: 676 47 47 04
            <br/> Fax: 926 21 95 88
            <br/> Email: despacho@asensioabogados.net
        </p>
    </div>
</div>

<div style="min-height: 50px; background-color: black; padding-left: 2%; padding-right: 2%; padding-top: 10px">
    <span style="color: white;">&copy; 2018 todos los derechos reservados: </span><a [routerLink]="['aviso']" style="color: white; font-size: 18px">Aviso legal</a>
    <a [routerLink]="['login']" style="color: white;float: right; font-size: 18px">Iniciar Sesion</a>
</div>