<div class="container">
    <carousel [noPause]="noPause">
        <slide *ngFor="let slide of slides; let index=index">
            <img [src]="slide.image" alt="image slide">

            <div class="carousel-caption">
                <h4>Slide {{index}}</h4>
                <p>{{slide.text}}</p>
            </div>
        </slide>
    </carousel>
</div>
<br><br><br>

<div class="card border-primary mb-3" style="padding: 20px">
    <div id="img-responsive"><img src="assets/img/pagina/despacho.jpg" id="eldespacho"></div>
    <div class="page-header">
        <h1 class="card-title" Style ="color: #2780E3">El despacho</h1>
        <h3 class="card-title" Style ="color: #2780E3">Despacho fundado en el año 1983</h3>
    </div>
    <p class="card-text">
        EL TITULAR ES LUIS FERNANDO ASENSIO MENA. DESPACHO GENERALISTA, CON AMPLIA EXPERIENCIA JUDICIAL Y EXTRAJUDICIAL EN MATERIA DE SEGUROS, DERECHO DE LA CIRCULACIÓN, RESPONSABILIDAD CIVIL Y PATRIMONIAL, ARRENDAMIENTOS
        Y PROPIEDAD HORIZONTAL, DERECHO INMOBILIARIO, CONTRATOS. DERECHO LABORAL. HERENCIAS. DERECHO HIPOTECARIO: CLÁUSULAS SUELO, RECLAMACION DE GASTOS DE CONSTITUCIÓN DE HIPOTECAS, CLÁUSULAS ABUSIVAS. MATRIMONIAL. DIVORCIOS. MUTUO ACUERDO. INCAPACITACIÓN
        CIVIL. DISPOSICION DE BIENES DE MENORES O INCAPACES. PREFERENCIA POR LA SOLUCIÓN PACÍFICA DE LOS CONFLICTOS, BUSCANDO VÍAS CONCILIADORAS PARA LOS INTERESES DE LOS CLIENTES, DE MANERA QUE ÉSTOS OBTENGAN LA SATISFACCIÓN DE SUS DERECHOS CON MAYOR RAPIDEZ
        Y CON AHORRO DE GASTOS. ATENCIÓN PERSONALIZADA A LOS CLIENTES, QUE DISPONEN DE PUNTUAL INFORMACIÓN SOBRE LOS ASUNTOS ENCOMENDADOS.
    </p>
</div>