<carousel>
  <slide>
    <img src="../../../assets/img/slider/001.jpg" alt="first slide" style="display: block; width: 100%; max-height: 500px;">
  </slide>
  <slide>
    <img src="../../../assets/img/slider/002.jpg" alt="second slide" style="display: block; width: 100%; max-height: 500px;">
  </slide>
  <slide>
    <img src="../../../assets/img/slider/003.jpg" alt="third slide" style="display: block; width: 100%; max-height: 500px;">
  </slide>
</carousel>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Noticia</h1>
    <p class="lead">Titulo de la noticia</p>
    <hr class="my-4">
    <p>Pequeña descripcion</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Leer más</a>
    </p>
  </div>
</div>
