<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active link" (click)="activarTab1()">Mediacion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="activarTab2()">Areas de Practica</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="activarTab3()">Reclamaciones hipotecarias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" (click)="activarTab4()">Asesoramiento</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content" style="height: 100%;">
  <div class="{{tab1}}" id="1">
    <pre>
      AREAS DE PRÁCTICA.-

RECLAMACIONES DE CANTIDAD Y EJECUCIÓN DE OBLIGACIONES, DINERARIAS O NO DINERARIAS.

LESIONES Y DAÑOS DERIVADOS DE LA CIRCULACIÓN VIARIA.
DERECHO DE SEGUROS.
HOGAR. COMUNIDADES DE PROPIETARIOS.

CLAUSULAS SUELO Y RECLAMACIÓN GASTOS HIPOTECA. CLAUSULAS ABUSIVAS.
PROCEDIMIENTOS DE INCAPACITACIÓN CIVIL y DISPOSICIÓN DE BIENES DE MENORES O INCAPACES.

MATRIMONIAL. DIVORCIOS. MUTUO ACUERDO.

PROCEDIMIENTOS PENALES. JUICIOS RÁPIDOS. ALCOHOLEMIAS.

INMUEBLES Y PROPIEDAD HORIZONTAL. ARRENDAMIENTOS. DESAHUCIOS.

RESPONSABILIDAD CIVIL EN GENERAL.
CONSUMIDORES Y USUARIOS.
RESPONSABILIDAD CIVIL DE LA CONSTRUCCIÓN.
RESPONSABILIDAD CIVIL DE PROFESIONALES.
RECLAMACIONES POR ACCIDENTES DE TRABAJO.

SUCESIONES. HERENCIAS.

DERECHO LABORAL: DESPIDOS, SALARIOS, RECLAMACIONES DE CANTIDAD, PRESTACIONES.

ASESORAMIENTO INMOBILIARIO. NEGOCIACIÓN Y REDACCION DE CONTRATOS.

MEDIACION Y ARBITRAJE.

RESPONSABILIDAD PATRIMONIAL DE LA ADMINISTRACIÓN PÚBLICA.

ASESORAMIENTO A SOCIEDADES MERCANTILES. IMPUGNACIÓN DE ACUERDOS SOCIALES.

    </pre>
  </div>
  <div class="{{tab2}}" id="2">
      <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, ipsum a porta hendrerit, 
          augue lorem ullamcorper felis, in congue ipsum lectus sed leo. Vestibulum viverra mattis ante eu tempus.
          Nam ultricies velit ipsum, pulvinar varius eros mollis a. Sed luctus, risus in venenatis auctor,
          augue nibh commodo nisl, non fermentum lacus sapien ac odio. Vivamus porttitor vestibulum nunc eget laoreet.
          Phasellus interdum sapien in ex condimentum interdum. Aliquam elit turpis, vulputate in massa quis,
          convallis fringilla elit. Donec mollis fermentum dapibus. Mauris scelerisque tincidunt erat non lobortis.
          Integer eget nisl elit. Cras eu placerat libero.
        <br/>
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
          Maecenas ut tortor et nisl posuere aliquam eu ac nisi. Pellentesque habitant morbi tristique senectus et
          netus et malesuada fames ac turpis egestas. Maecenas sed tincidunt est, at scelerisque arcu. Donec iaculis
          metus ante, vel suscipit mi tempus sit amet. Suspendisse potenti. Proin gravida velit sapien,
          vitae cursus mauris accumsan mollis. Sed blandit lacinia metus in finibus. Donec nec condimentum odio.
        <br/>  
          Mauris imperdiet et nisi vel consectetur. Aenean rhoncus massa sit amet urna placerat bibendum.
          Nulla scelerisque ipsum est, et varius dolor feugiat non. Nulla tincidunt ipsum sit amet odio dictum bibendum.
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc vehicula mi id
          venenatis mattis. Vivamus id ultrices eros. Ut mauris nibh, imperdiet non tristique at, porttitor ut velit.
        <br/>  
          Phasellus auctor ornare nunc id dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Etiam eu maximus arcu. Aenean cursus lacus sed dapibus placerat. In vitae interdum lacus,
          eget sodales diam. Duis rhoncus eros volutpat quam mattis pretium. Cras erat nunc, dignissim lacinia fermentum vitae,
          scelerisque ac ligula. Phasellus consequat tempus neque. Curabitur quam nisi, sodales ac facilisis a, sagittis a enim.
          Nullam vel vehicula massa.
        <br/>
          Etiam finibus vestibulum augue, at rutrum neque dictum et. Vivamus sit amet pellentesque tellus.
          Aenean sagittis fringilla tortor. Nulla eget dolor justo. Nulla euismod erat dui, at ultrices quam dapibus in.
          Aliquam lobortis massa venenatis cursus vestibulum. Fusce accumsan justo condimentum, consectetur orci at, accumsan elit.
      </p>
  </div>
  <div class="{{tab3}}" id="3">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, ipsum a porta hendrerit, 
        augue lorem ullamcorper felis, in congue ipsum lectus sed leo. Vestibulum viverra mattis ante eu tempus.
        Nam ultricies velit ipsum, pulvinar varius eros mollis a. Sed luctus, risus in venenatis auctor,
        augue nibh commodo nisl, non fermentum lacus sapien ac odio. Vivamus porttitor vestibulum nunc eget laoreet.
        Phasellus interdum sapien in ex condimentum interdum. Aliquam elit turpis, vulputate in massa quis,
        convallis fringilla elit. Donec mollis fermentum dapibus. Mauris scelerisque tincidunt erat non lobortis.
        Integer eget nisl elit. Cras eu placerat libero.
      <br/>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Maecenas ut tortor et nisl posuere aliquam eu ac nisi. Pellentesque habitant morbi tristique senectus et
        netus et malesuada fames ac turpis egestas. Maecenas sed tincidunt est, at scelerisque arcu. Donec iaculis
        metus ante, vel suscipit mi tempus sit amet. Suspendisse potenti. Proin gravida velit sapien,
        vitae cursus mauris accumsan mollis. Sed blandit lacinia metus in finibus. Donec nec condimentum odio.
      <br/>  
        Mauris imperdiet et nisi vel consectetur. Aenean rhoncus massa sit amet urna placerat bibendum.
        Nulla scelerisque ipsum est, et varius dolor feugiat non. Nulla tincidunt ipsum sit amet odio dictum bibendum.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc vehicula mi id
        venenatis mattis. Vivamus id ultrices eros. Ut mauris nibh, imperdiet non tristique at, porttitor ut velit.
      <br/>  
        Phasellus auctor ornare nunc id dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos. Etiam eu maximus arcu. Aenean cursus lacus sed dapibus placerat. In vitae interdum lacus,
        eget sodales diam. Duis rhoncus eros volutpat quam mattis pretium. Cras erat nunc, dignissim lacinia fermentum vitae,
        scelerisque ac ligula. Phasellus consequat tempus neque. Curabitur quam nisi, sodales ac facilisis a, sagittis a enim.
        Nullam vel vehicula massa.
      <br/>
        Etiam finibus vestibulum augue, at rutrum neque dictum et. Vivamus sit amet pellentesque tellus.
        Aenean sagittis fringilla tortor. Nulla eget dolor justo. Nulla euismod erat dui, at ultrices quam dapibus in.
        Aliquam lobortis massa venenatis cursus vestibulum. Fusce accumsan justo condimentum, consectetur orci at, accumsan elit.
    </p>
  </div>
  <div class="{{tab4}}" id="4">
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, ipsum a porta hendrerit, 
        augue lorem ullamcorper felis, in congue ipsum lectus sed leo. Vestibulum viverra mattis ante eu tempus.
        Nam ultricies velit ipsum, pulvinar varius eros mollis a. Sed luctus, risus in venenatis auctor,
        augue nibh commodo nisl, non fermentum lacus sapien ac odio. Vivamus porttitor vestibulum nunc eget laoreet.
        Phasellus interdum sapien in ex condimentum interdum. Aliquam elit turpis, vulputate in massa quis,
        convallis fringilla elit. Donec mollis fermentum dapibus. Mauris scelerisque tincidunt erat non lobortis.
        Integer eget nisl elit. Cras eu placerat libero.
      <br/>
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Maecenas ut tortor et nisl posuere aliquam eu ac nisi. Pellentesque habitant morbi tristique senectus et
        netus et malesuada fames ac turpis egestas. Maecenas sed tincidunt est, at scelerisque arcu. Donec iaculis
        metus ante, vel suscipit mi tempus sit amet. Suspendisse potenti. Proin gravida velit sapien,
        vitae cursus mauris accumsan mollis. Sed blandit lacinia metus in finibus. Donec nec condimentum odio.
      <br/>  
        Mauris imperdiet et nisi vel consectetur. Aenean rhoncus massa sit amet urna placerat bibendum.
        Nulla scelerisque ipsum est, et varius dolor feugiat non. Nulla tincidunt ipsum sit amet odio dictum bibendum.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc vehicula mi id
        venenatis mattis. Vivamus id ultrices eros. Ut mauris nibh, imperdiet non tristique at, porttitor ut velit.
      <br/>  
        Phasellus auctor ornare nunc id dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos. Etiam eu maximus arcu. Aenean cursus lacus sed dapibus placerat. In vitae interdum lacus,
        eget sodales diam. Duis rhoncus eros volutpat quam mattis pretium. Cras erat nunc, dignissim lacinia fermentum vitae,
        scelerisque ac ligula. Phasellus consequat tempus neque. Curabitur quam nisi, sodales ac facilisis a, sagittis a enim.
        Nullam vel vehicula massa.
      <br/>
        Etiam finibus vestibulum augue, at rutrum neque dictum et. Vivamus sit amet pellentesque tellus.
        Aenean sagittis fringilla tortor. Nulla eget dolor justo. Nulla euismod erat dui, at ultrices quam dapibus in.
        Aliquam lobortis massa venenatis cursus vestibulum. Fusce accumsan justo condimentum, consectetur orci at, accumsan elit.
    </p>
  </div>
</div>