<div class="card border-primary mb-3" style="padding: 20px">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="{{sel1}}" (click)="activarTab1()">Mediacion</a>
        </li>
        <li class="nav-item">
            <a class="{{sel2}}" (click)="activarTab2()">Areas de Practica</a>
        </li>
        <li class="nav-item">
            <a class="{{sel3}}" (click)="activarTab3()">Reclamaciones hipotecarias</a>
        </li>
        <li class="nav-item">
            <a class="{{sel4}}" (click)="activarTab4()">Asesoramiento</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content clearfix" style="padding-top: 20px">
        <div class="{{tab1}}" id="1">
            <h1 class="card-title" Style ="color: #2780E3">Mediacion</h1>
            <div id="img-responsive"><img src="assets/img/servicios/1.jpg" id="main"></div>
            <pre style="padding-top: 20px;">
        AREAS DE PRÁCTICA.-

    RECLAMACIONES DE CANTIDAD Y EJECUCIÓN DE OBLIGACIONES, DINERARIAS O NO DINERARIAS.

    LESIONES Y DAÑOS DERIVADOS DE LA CIRCULACIÓN VIARIA.
    DERECHO DE SEGUROS.
    HOGAR. COMUNIDADES DE PROPIETARIOS.

    CLAUSULAS SUELO Y RECLAMACIÓN GASTOS HIPOTECA. CLAUSULAS ABUSIVAS.
    PROCEDIMIENTOS DE INCAPACITACIÓN CIVIL y DISPOSICIÓN DE BIENES DE MENORES O INCAPACES.

    MATRIMONIAL. DIVORCIOS. MUTUO ACUERDO.

    PROCEDIMIENTOS PENALES. JUICIOS RÁPIDOS. ALCOHOLEMIAS.

    INMUEBLES Y PROPIEDAD HORIZONTAL. ARRENDAMIENTOS. DESAHUCIOS.

    RESPONSABILIDAD CIVIL EN GENERAL.
    CONSUMIDORES Y USUARIOS.
    RESPONSABILIDAD CIVIL DE LA CONSTRUCCIÓN.
    RESPONSABILIDAD CIVIL DE PROFESIONALES.
    RECLAMACIONES POR ACCIDENTES DE TRABAJO.

    SUCESIONES. HERENCIAS.

    DERECHO LABORAL: DESPIDOS, SALARIOS, RECLAMACIONES DE CANTIDAD, PRESTACIONES.

    ASESORAMIENTO INMOBILIARIO. NEGOCIACIÓN Y REDACCION DE CONTRATOS.

    MEDIACION Y ARBITRAJE.

    RESPONSABILIDAD PATRIMONIAL DE LA ADMINISTRACIÓN PÚBLICA.

    ASESORAMIENTO A SOCIEDADES MERCANTILES. IMPUGNACIÓN DE ACUERDOS SOCIALES.

        </pre>
        </div>
        <div class="{{tab2}}" id="2">
            <h1 class="card-title" Style ="color: #2780E3">Area de Practicas</h1>
            <div id="img-responsive"><img src="assets/img/servicios/2.jpg"></div>
            <div class="card-text" style="padding-top: 20px;">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae enim eget lorem viverra maximus eu nec mi. Sed eleifend risus vitae pharetra ultrices. Aenean posuere convallis magna tempor pharetra. Mauris viverra, eros ac sollicitudin tempus, est
                  ligula condimentum urna, vel tincidunt tellus felis sit amet diam. Aliquam erat volutpat. Proin ipsum ipsum, facilisis eu hendrerit sed, lobortis at sapien. Aliquam eget ullamcorper arcu, a scelerisque diam. Nullam id diam tincidunt, imperdiet
                  mi sit amet, condimentum sem. Sed dapibus velit et arcu sollicitudin, ut vulputate arcu lacinia.
                  <br/><br/> Aenean suscipit convallis orci sed porta. Suspendisse eros orci, vehicula ac massa non, tempor porttitor neque. Curabitur ac fringilla purus. Sed a diam dapibus, lacinia diam sit amet, ultrices sem. Ut eu nisl fringilla, aliquam
                  lectus id, bibendum leo. Aenean fermentum velit sem, in cursus risus consequat eu. Suspendisse bibendum, lectus tristique mattis rhoncus, elit nisl condimentum ipsum, ut sagittis massa felis aliquet diam. Sed ac congue magna. Donec id
                  vulputate felis. Donec pellentesque pulvinar turpis cursus sagittis.
                  <br/><br/> Mauris congue ante elit, at dignissim ipsum sodales vel. Donec bibendum augue non enim ornare, vitae porttitor nulla sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc feugiat
                  augue quis sapien sollicitudin, sed gravida augue molestie. Pellentesque condimentum non lacus a commodo. Aliquam vulputate malesuada ligula vel pretium. Etiam in magna at mauris convallis sollicitudin ut vitae felis. Vestibulum eget tincidunt
                  dolor. Donec et ante arcu. Praesent dignissim tincidunt orci, posuere tristique ipsum cursus id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                  <br/> <br/> Phasellus ac lorem lacus. Nunc in lobortis est. Duis a libero lectus. Phasellus rhoncus ipsum id magna elementum pellentesque. Proin finibus vulputate tristique. Ut dolor ante, semper at viverra et, aliquet vitae justo. Fusce
                  vehicula, purus nec fermentum ultricies, sapien dui fringilla ex, a feugiat purus nunc commodo libero. Aenean metus elit, lobortis vel maximus vel, sagittis eu est. Praesent blandit lectus tellus, vestibulum tincidunt sem porttitor ac.
                  Cras at interdum nunc. Phasellus dignissim ex orci, sit amet egestas ante laoreet sed. Quisque et aliquet lectus. Maecenas venenatis quam in neque faucibus, quis dignissim lacus semper. Vivamus dictum tortor justo, sit amet sagittis mi
                  consequat vel. Maecenas eu erat lobortis, lacinia eros gravida, dapibus massa. Morbi feugiat ipsum in porttitor maximus.
            </div>
          </div>
        <div class="{{tab3}}" id="3">
            <h1 class="card-title" Style ="color: #2780E3">Reclamaciones hipotecarias</h1>
            <div id="img-responsive" ><img src="assets/img/servicios/3.jpg"></div>
            <div class="card-text" style="padding-top: 20px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae enim eget lorem viverra maximus eu nec mi. Sed eleifend risus vitae pharetra ultrices. Aenean posuere convallis magna tempor pharetra. Mauris viverra, eros ac sollicitudin tempus, est
                ligula condimentum urna, vel tincidunt tellus felis sit amet diam. Aliquam erat volutpat. Proin ipsum ipsum, facilisis eu hendrerit sed, lobortis at sapien. Aliquam eget ullamcorper arcu, a scelerisque diam. Nullam id diam tincidunt, imperdiet
                mi sit amet, condimentum sem. Sed dapibus velit et arcu sollicitudin, ut vulputate arcu lacinia.
                <br/><br/> Aenean suscipit convallis orci sed porta. Suspendisse eros orci, vehicula ac massa non, tempor porttitor neque. Curabitur ac fringilla purus. Sed a diam dapibus, lacinia diam sit amet, ultrices sem. Ut eu nisl fringilla, aliquam
                lectus id, bibendum leo. Aenean fermentum velit sem, in cursus risus consequat eu. Suspendisse bibendum, lectus tristique mattis rhoncus, elit nisl condimentum ipsum, ut sagittis massa felis aliquet diam. Sed ac congue magna. Donec id
                vulputate felis. Donec pellentesque pulvinar turpis cursus sagittis.
                <br/><br/> Mauris congue ante elit, at dignissim ipsum sodales vel. Donec bibendum augue non enim ornare, vitae porttitor nulla sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc feugiat
                augue quis sapien sollicitudin, sed gravida augue molestie. Pellentesque condimentum non lacus a commodo. Aliquam vulputate malesuada ligula vel pretium. Etiam in magna at mauris convallis sollicitudin ut vitae felis. Vestibulum eget tincidunt
                dolor. Donec et ante arcu. Praesent dignissim tincidunt orci, posuere tristique ipsum cursus id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                <br/> <br/> Phasellus ac lorem lacus. Nunc in lobortis est. Duis a libero lectus. Phasellus rhoncus ipsum id magna elementum pellentesque. Proin finibus vulputate tristique. Ut dolor ante, semper at viverra et, aliquet vitae justo. Fusce
                vehicula, purus nec fermentum ultricies, sapien dui fringilla ex, a feugiat purus nunc commodo libero. Aenean metus elit, lobortis vel maximus vel, sagittis eu est. Praesent blandit lectus tellus, vestibulum tincidunt sem porttitor ac.
                Cras at interdum nunc. Phasellus dignissim ex orci, sit amet egestas ante laoreet sed. Quisque et aliquet lectus. Maecenas venenatis quam in neque faucibus, quis dignissim lacus semper. Vivamus dictum tortor justo, sit amet sagittis mi
                consequat vel. Maecenas eu erat lobortis, lacinia eros gravida, dapibus massa. Morbi feugiat ipsum in porttitor maximus.
            </div>
        </div>
        <div class="{{tab4}}" id="4">
            <h1 class="card-title" Style ="color: #2780E3">Asesoramiento</h1>
            <div id="img-responsive" ><img src="assets/img/servicios/4.jpg"></div>
            <div class="card-text" style="padding-top: 20px;">
                Phasellus ac lorem lacus. Nunc in lobortis est. Duis a libero lectus. Phasellus rhoncus ipsum id magna elementum pellentesque. Proin finibus vulputate tristique. Ut dolor ante, semper at viverra et, aliquet vitae justo. Fusce
                vehicula, purus nec fermentum ultricies, sapien dui fringilla ex, a feugiat purus nunc commodo libero. Aenean metus elit, lobortis vel maximus vel, sagittis eu est. Praesent blandit lectus tellus, vestibulum tincidunt sem porttitor ac.
                Cras at interdum nunc. Phasellus dignissim ex orci, sit amet egestas ante laoreet sed. Quisque et aliquet lectus. Maecenas venenatis quam in neque faucibus, quis dignissim lacus semper. Vivamus dictum tortor justo, sit amet sagittis mi
                consequat vel. Maecenas eu erat lobortis, lacinia eros gravida, dapibus massa. Morbi feugiat ipsum in porttitor maximus.
                <br/> <br/> Vivamus rutrum arcu eget nibh cursus, eget placerat ex tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut nec semper est, sodales finibus metus. Fusce ac vulputate ligula,
                vitae lacinia purus. Ut viverra massa nec lobortis ultrices. Vivamus pulvinar metus in tempor efficitur. In vitae dolor nisl. Mauris maximus ultricies malesuada. Morbi porta nec dui non tempus. Cras interdum dui ac turpis congue, eget
                tempor nisi suscipit. Integer neque neque, tincidunt et scelerisque id, gravida vel ligula. Duis feugiat tempor eleifend. Sed quis consectetur ipsum, non sagittis nisi. Donec nec sagittis eros. Cras venenatis et est nec efficitur.
                <br/> <br/> Nulla consectetur est est, nec ornare ante accumsan dictum. Sed facilisis dictum libero, vel sollicitudin erat aliquam eget. Vestibulum fringilla congue purus. Donec fermentum vehicula dolor, nec lacinia quam blandit id. Praesent
                gravida, massa condimentum interdum ullamcorper, velit lectus fermentum eros, ac commodo mauris nulla a dolor. Integer in massa urna. Integer sagittis, mauris in fringilla rutrum, augue lacus ultricies enim, a facilisis felis risus ut
                arcu. Vestibulum euismod convallis dolor ut viverra. Integer in vestibulum lectus. Donec vitae fringilla massa. Sed rutrum eros quis rhoncus scelerisque. Sed sit amet ornare tortor.
                <br/> <br/> Phasellus tempus hendrerit consequat. Praesent accumsan, erat a maximus iaculis, nibh nisi tristique turpis, vel congue odio nisi sit amet eros. Quisque tincidunt felis sit amet lobortis ultrices. Donec ut vulputate quam, non
                ullamcorper augue. Pellentesque risus neque, porta commodo lectus sed, eleifend semper justo. Maecenas et venenatis augue, a volutpat dui. Duis dignissim eu nisl vitae ultrices. Maecenas sed aliquet massa. Duis consectetur ut metus eu
                rutrum. Nunc tempus laoreet magna tristique euismod. Sed efficitur pulvinar tellus non pellentesque. Maecenas sapien lorem, iaculis in consectetur et, tincidunt eget mi. Nunc facilisis sem quam, vel pellentesque elit eleifend eget. Lorem
                ipsum dolor sit amet, consectetur adipiscing elit.

            </div>
        </div>
    </div>
</div>