

<div class="card border-primary mb-3" style="padding: 20px">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="{{sel1}}" (click)="activarTab1()">Derecho civil</a>
        </li>
        <li class="nav-item">
            <a class="{{sel2}}" (click)="activarTab2()">Derecho penal</a>
        </li>
        <li class="nav-item">
            <a class="{{sel3}}" (click)="activarTab3()">Derecho laboral</a>
        </li>
        <li class="nav-item">
            <a class="{{sel4}}" (click)="activarTab4()">Derecho administrativo</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content clearfix" style="padding-top: 20px">
        <div class="{{tab1}}" id="1">
            <h1 class="card-title" Style="color: #2780E3">DERECHO CIVIL</h1>
            <div id="img-responsive"><img src="assets/img/servicios/1.jpg" id="main" Style="color: #2780E3"></div><br/>
            <p>
                <b>Familia.</b><br/>
                DIVORCIOS MUTUO ACUERDO Y CONTENCIOSOS, DIVISION DEL PATRIMONIO, SEPARACIONES, CUSTODIA, MODIFICACION DE MEDIDAS<br/><br/>
                
                CONTRATO DE SEGURO<br/>
                RESPONSABILIDAD CIVIL. Accidentes. Daños patrimoniales. Daños personales (lesiones, secuelas, fallecimiento). Daños materiales.<br/><br/>
                
                <b>Propiedad horizontal.</b><br/>
                ARRENDAMIENTOS Y DESAHUCIOS.<br/>
                IMPUGNACIÓN ACUERDOS, RECLAMACION CUOTAS COMUNIDAD<br/><br/>
                
                Procedimientos de incapacitación civil:<br/>
                TUTELAS, DEPENDENCIA, DISPOSICION DE BIENES DE MENORES E INCAPACES<br/><br/>
                
                <b>Sucesiones - Herencias</b><br/><br/>
                
                CLAUSULAS SUELO<br/>
                RECLAMACIONES DE CANTIDAD<br/>
                EJECUCION DE OBLIGACIONES, DINERARIAS Y NO DINERARIAS<br/>
                REDACCION DE CONTRATOS (COMPRAVENTA, ARRENDAMIENTOS, ETC)<br/>
            </p>
        </div>
        <div class="{{tab2}}" id="2">
            <h1 class="card-title" Style="color: #2780E3">DERECHO PENAL</h1>
            <div id="img-responsive"><img src="assets/img/servicios/2.jpg"></div><br/>
            <p>
                DELITOS LEVES<br/>
                ALCOHOLEMIAS Y CONDUCCION TEMERARIA<br/>
                LESIONES<br/>
                DAÑOS<br/>
                AMENAZAS Y COACCIONES<br/>
                ESTAFAS Y FRAUDES<br/>
                RESPONSABILIDAD PENAL DEL MENOR<br/>
            </p>
        </div>
        <div class="{{tab3}}" id="3">
            <h1 class="card-title" Style="color: #2780E3">DERECHO LABORAL</h1>
            <div id="img-responsive"><img src="assets/img/servicios/3.jpg"></div><br/>
            <p>
                SITUACIONES DE INCAPACIDAD PERMANENTE<br/>
                DESPIDOS<br/>
                ACCIDENTES DE TRABAJO<br/>
                RECLAMACIONES DE CANTIDAD<br/>
                PRESTACIONES SEGURIDAD SOCIAL<br/>
                TRAMITACIONES ANTE FOGASA<br/>      
            </p>
        </div>
        <div class="{{tab4}}" id="4">
            <h1 class="card-title" Style="color: #2780E3">DERECHO ADMINISTRATIVO</h1>
            <div id="img-responsive"><img src="assets/img/servicios/4.jpg"></div><br/>
            <p>
                    <b>Administrativo.</b><br/>
                    Gestiones ante departamentos administrativos.<br/>
                    <u>INSS-TGSS:</u> Incapacidad temporal, jubilación y demás prestaciones.<br/>
                    <u>Servicios Sociales:</u> Declaración de minusvalía; Dependencia.<br/>
                    <u>Confederación Hidrográfica del Guadiana:</u> Tramitación de solicitudes de autorización para riego y uso distinto al regadío, denuncias y resolución de expedientes sancionadores (pozos).<br/>
                    <u>Ministerio de Fomento:</u> Solicitudes y trámites VPO y demás trámites y subvenciones.<br/>
                    <u>ISFAS.</u><br/><br/>
                    
                    <b>Contencioso-Administrativo</b><br/>
                    RESPONSABILIDAD PATRIMONIAL DE LA ADMINISTRACIÓN PÚBLICA.
                    Reclamaciones contra las Administraciones (Ayuntamientos, …) en reclamación de indemnización por daños sufridos (caídas, daños en vehículos, viviendas, etc).                    
            </p>
        </div>
    </div>
</div>