<pre>
Aviso legal

Información general e identificación del titular de la página web:
[www.nombredeldesacho.com/es] es la página web del despacho [NOMBRE DEL
DESPACHO], titularidad de [NOMBRE DELA SOCIEDAD], con C.I.F. [xxxx], domicilio
en [xxxx], inscrita en el Registro Mercantil de XXXX [Hoja XXX del Tomo XXXX, Folio
XXX, Sección X]. y dirección general de correo electrónico [xxxfdxxx.com/es].

La página web [www.nombredeldespacho.comes] tiene por objeto facilitar a los
ciudadanos,  a los potenciales clientes, y a los clientes del despacho información
relativa a las actividades y a los servicios que ofrece el despacho [NOMBRE DEL
DESPACHO]. asi como proporcionar información que pueda resultar de interés.

Los socios del [NOMBRE DEL DESPACHO] son los abogados. colegiados en el
[COLEGIO DEABOGADOS DE .………]; NOMBRE DEL SOC/O [colegiado nº xxx] y NOMBRE 
DEL SOC/O [colegiado .……….] La actuación profesional de los abogados se
rige, sin ularmente, por el Estatuto Español de la Abogacía Española [R.D.
658/20013, y por los Códigos Deontológicos de la Abogacía Española y de la Abo-
gacía de la Unión Europea.

Condiciones de uso
Con esta página web, [NOMBRE DEL DESPACHO] pretende prestar un servicio útil,
por lo que las sugerencias de los usuarios son bienvenidas. Pero si no está de
3 acuerdo con alguna de las condiciones contenidas en este aviso, deberá dejar de,
utilizar la página web. El acceso a la misma implica la aceptación de las mismas
sin reservas.

Las condiciones establecidas a continuación regulan el uso permitido de la pági-
na web[www.nombredeldesacho.com/es]:

1. Acceso
El acceso es público si bien hay determinadas partes de la página web cuyo acce-'
so está reservado a los clientes, mediante un identificador de usuario y una con-
traseña. Los usuarios no clientes pueden visitar las secciones públicas de la pági-
na, no debiendo intentar nunca el acceso a las secciones de acceso restringido,
salvo que le haya sido autorizado mediante la asignación de un identificador de
usuario y una contraseña.

2. Modificaciones de la página e interrupciones o errores en el acceso
www.nombredeldesacho.com/es se reserva la facultad de efectuar, en cualquier
momento y sin necesidad de previo aviso, modificaciones y actualizaciones de la
información contenida en la página web, de la configuración y presentación de
ésta y de las condiciones de acceso.

3. Contenido y páginas enlazadas
La información contenida en esta web, tiene cáracter meramente informativo; y,
en ningun caso, constituye asesoramiento jurídico. La política del despachoe es
tratar de que los contenidos estén siempre actualizados, pero puede suceder que
no lo esten.

La función de los links, o enlaces, que aparecen en esta página es exclusivamente
la de informar a los usuarios y a los clientes sobre la existencia de otras fuentes f
de información sobre la materia en Internet, dondegodrá ampliar o completar los
datos ofrecidos en esta página. [NOMBRE DEL DE PACHO] no será responsable
del resultado obtenido a través de dichos enlaces.

En todo caso [NOMBRE DEL DESPACHO] no asume responsabilidad derivada de
los contenidos enlazados desde su página web, ni puede garantizar la ausencia de
virus u otros elementos en los mismos que puedan producir alteraciones en el
sistema informático [hardware y software, en los documentos o los ficheros del
usuario, excluyendo cualquier responsabilidad por los daños de cualquier clase
causados al usuario por este motivo.

Aunque los enlaces son supervisados regularmente para que no suceda, en el
caso de que cualquier usuario o un tercero, considerara que el contenido o los
servicios prestados por las páginas enlazadas son ilícitos, vulneran valores oE
principios constitucionales, o lesionan bienes o derechos del propio usuario o de
un tercero se ruega que se comunique inmediatamente a [NOMBRE DEL DESPA-
CHO YD/RECC/ON DE CORREO ELECTRONICO] dicha circunstancia, y especialmen-
te si los enlaces consisten en:

Actividades 0 contenidos susceptibles de ser considerados delictivos conforme la
normativa penal española.

Actividades 0 contenidos que violen derechos de propiedad intelectual o industrial.

Actividades 0 contenidos que pongan en peligro el orden público, la investigación
penal, la seguridad pública y la defensa nacional.

Actividades 0 contenidos que pongan en peligro la protección de la salud pública,
el respeto a la dignidad de la persona, al principio de no discriminación, la protección
de la salud y la infancia 0 cualquier otro valor o principio constitucional.

4. Protección de datos personales
Los datos personales vinculados a esta web respetan las exigencias del Regla-
mento General de Protección de Datos y de la legislación y normativa vigente en
materia de protección de datos personales.

[NOMBRE DEL DESPACHO] tratará los datos de carácter personal que se recojan a
través de esta web cumpliendo con la normativa del Reglamento General de Protección 
de Datos y la normativa española vigente sobre protección de datos. Así la
remisión de datos por los interesados es absolutamente voluntaria y es debidamente 
anunciada.

Finalidades
En particular, los datos que se proporcionen a través de la web serán tratados'
para la gestión del contacto o de la consulta realizada, y en su caso, si se produce
posterior encargo profesional la gestión profesional, administrativa, contable y'
fiscal del encargo, así como el archivo de expedientes.

Legitimación del tratamiento
La legitimación del tratamiento de sus datos es el consentimiento que presta
enviando el formulario de contacto ola consulta. Si se produce encargo profesio-
nal, la legitimación del tratamiento será la relación contractual que se establezca
con y el cumplimiento de las obligaciones profesionales y legales derivadas del
mismo.

Comunicaciones de los datos
Los datos derivados del contacto y la consulta no serán comunicados a terceros.
En el caso de que posteriormente se produzca encargo profesional, los datos de
carácter personal proporcionados por el cliente podrán ser comunicados en los
escritos y en los documentos anejos a éstos a los Juzgados y Tribunales o, en su
caso, Administraciones Públicas, para el cumplimiento del encargo encomendado. 
así como a procuradores, peritos y otros profesionales que deban intervenir o
sea conveniente que intervengan

Derechos de los interesados
Cualquier persona tiene derecho a obtener confirmación sobre si [NOMBRE DEL
DESPACHO] trata datos personales que le conciernen, o no. Las personas intere-
sadas tienen derecho a acceder a sus datos personales y a obtener una copia de
los datos personales objeto del tratamiento, a actualizarlos, así como a solicitar la
rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando,
entre otros motivos, los datos ya no sean necesarios para los fines para los que
fueron recogidos. En determinadas circunstancias previstas en el artículo 18
RGPD, los interesados podrán solicitar la limitación del tratamiento de sus datos,
en cuyo caso únicamente los conservaremos para el ejercicio o la defensa de
reclamaciones. Como consecuencia de la aplicación del derecho a la supresión u
oposición al tratamiento de datos personales en el entorno on-line los interesa-
dos tienen el derecho al olvido según la jurisprudencia que el Tribunal de Justicia
de la UE. Los interesados podrán oponerse al tratamiento de sus datos con fines
de mercadotecnia, incluida la elaboración de perfiles

Puede ejercer sus derechos:
Mediante un escrito dirigido a: [COMPLETAR]
Mediante correo electrónico dirigido a: [COMPLETAR]
[EN SU CASO] El Delegado de Protección de Datos es: [COMPLETAR]
Contacto Delegado de Protección de Datos: [COMPLETAR]
</pre>