<div class="card border-primary mb-3">
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <agm-map [latitude] = 38.980465 [longitude] = -3.930594 [zoom] = 15>
    <agm-marker [latitude] = 38.980352 [longitude] = -3.930507>
      <agm-info-window>Asensio abogados</agm-info-window>
    </agm-marker>
  </agm-map>
</div>

<div>
    <div class="card border-primary mb-3" style="width: 100%;">
      <div class="card-body">
        <h4 class="card-title" Style ="color: #2780E3" ><b>Datos de contacto</b></h4>
        <p class="card-text">
          13004 Ciudad Real
        <br/>
          Ronda Ciruela nº 5
        <br/>
          Portal 4, 2ºD
          <br/><br/>
          Telefono: 926 21 48 28
          <br/>
          Fax: 926 21 95 88
          <br/>
          Email: oficina@asensioabogados.net
        </p>
      </div>
  </div>