<div class="card border-primary mb-3" style="padding: 20px">
    <img src="assets/img/equipo/lf.jpg" style="height: 56%;">
    <br/>
    <h1 class="card-title" Style ="color: #2780E3; text-align: center">Luis Fernando Asensio Mena</h1>
    <h2 class="card-title" Style ="color: #2780E3; text-align: center">Fundador</h2>
    <br/><br/>
    <div class="row">
        <div class="card-body" id="vero" >
                <img src="assets/img/equipo/vero.jpg">
                <br/><br/>
                <h2 class="card-title" Style ="color: #2780E3; text-align: center">Verónica</h2>
        </div>
        <div class="card-body" id="carmen" >
                <img src="assets/img/equipo/carmen.jpg" >
                <br/><br/>
                <h2 class="card-title" Style ="color: #2780E3; text-align: center">Carmen</h2>
        </div>
        <div class="card-body" id="sonia" >
                <img src="assets/img/equipo/sonia.jpg" >
                <br/><br/>
                <h2 class="card-title" Style ="color: #2780E3; text-align: center">Sonia</h2>
        </div>
    </div>
</div>
