#img-responsive {
    width: 15%;
    min-width: 50px;
    min-height: 25px;
    padding-top: 0%;
    padding-bottom: 0%;
}

<<<<<<< HEAD
li{
  font-size: 18;
}

=======
li {
    font-size: 18px;
}

a {
    font-size: 18px;
}
>>>>>>> b218ae43fcae5f54962eb9899cc6ff8c0ac902b3
